<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>lea-admin</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://polygit.org/components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="https://polygit.org/components/paper-swatch-picker/paper-swatch-picker.html">
    <link rel="import" href="https://polygit.org/components/paper-slider/paper-slider.html">
    <script src="mqtt.min.js"></script>
    <link rel="import" href="lea-command.html">
    <link rel="import" href="lea-broker.html">
    <link rel="import" href="lea-subscribe.html">
    <script>
        window.addEventListener('WebComponentsReady', function () {
        });
    </script>
</head>

<body>
    <div id="container" style="width:400px;display: inline-block;">
        <% if (locals['leabroker']){%>
            <im-broker id="leaBroker" status="help" url="ws://<%= locals['leabroker'].address %>:<%= locals['leabroker'].txtRecord.wsport %>"></im-broker>
            <% }else{%>
                <b>NO Broker</b>
                <%} %>
                    <hr/>
                    <im-command topic="helmet" payload="" label="helmet"></im-command>
                    <im-command topic="lea/reset" payload="" label="reset"></im-command>
                    <hr/>
                    <b>Command: </b>
                    <dom-bind>
                        <template>
                            <im-subscribe filter="lea/command/#" topic="{{commandTopic}}" strpayload="{{commandPayload}}"></im-subscribe>
                            <b>[[commandTopic]]</b>
                            <div style="background-color: #DDDDDD;word-break: break-all;">[[commandPayload]]</div>
                        </template>
                    </dom-bind>
                    <hr/>
                    <b>Clients: </b>
                    <dom-bind>
                        <template>
                            <im-subscribe filter="lea/event/rpiheart/status" topic="{{clientTopic}}" payload="{{clientPayload}}"></im-subscribe>
                            <template is="dom-repeat" items="[[clientPayload.brokerClients]]" as="client">
                                <span style="margin-right:10px">[[client]]</span>
                            </template>
                        </template>
                    </dom-bind>
                    <hr/>
                    <b>Usage: </b>
                    <dom-bind id="rpiUsage">
                        <template>
                            <im-subscribe filter="lea/event/rpiheart/usage" topic="{{usageTopic}}" payload="{{usagePayload}}"></im-subscribe>
                                Mem:<span style="margin-right:10px">[[usagePayload.memory.percentage]] %</span>
                                Cpu:<span style="margin-right:10px">[[usagePayload.cpuUsage]] %</span>
                                Disk:<span style="margin-right:10px">[[toGo(usagePayload.disk.free)]]/[[toGo(usagePayload.disk.total)]] Go</span>
                        </template>
                        <script>
                            var rpiUsage = document.querySelector('#rpiUsage');
                            // set data property on dom-bind
                            rpiUsage.toMo = function (octet){return Math.round(octet/(1024*1024))};
                            rpiUsage.toGo = function (octet){return Math.round(octet/(1024*1024*1024))};
                          </script>
                    </dom-bind>
                    <hr/>
                    <% if (locals['leaweb']){%>
                        <a href="http://<%= locals['leaweb'].address %>:<%= locals['leaweb'].port %>" target="command">Local web command</a>&nbsp;&nbsp;
                        <% }else{%>
                            <b>NO Local web command</b> &nbsp;&nbsp;
                            <%} %>
                                <% if (locals['impm2gui']){%>
                                    <a href="http://<%= locals['leapm2gui'].address %>:<%= locals['leapm2gui'].port %>" target="supervisor">Pm2 GUI</a>&nbsp;&nbsp;
                                    <% }else{%>
                                        <b>NO Pm2 GUI</b> &nbsp;&nbsp;
                                        <%} %>
                                            <a href="https://www.dataplicity.com" target="dataplicity">Dataplicity</a>&nbsp;
                                            <a href="/halt" target="top">Halt Rpi</a>&nbsp;
                                            <a href="/restart" target="top">Restart All Im</a>
                                            <hr/>
    </div>
    <iframe src="/simulator" width="400px" height="500px" style="display: inline-block;vertical-align:top"></iframe>
    <% if (locals['imweb']){%>
        <iframe src="http://<%= locals['leaweb'].address %>:<%= locals['leaweb'].port %>" width="400px" height="600px" style="display: inline-block;vertical-align:top"></iframe>
        <% } %>
            <iframe width="400px" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/27e568e7-cb65-43e1-8302-11f6a51157ad"
                style="display: inline-block;vertical-align:top"></iframe>
</body>

</html>