<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>im-admin</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://polygit.org/components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="https://polygit.org/components/paper-swatch-picker/paper-swatch-picker.html">
    <link rel="import" href="https://polygit.org/components/paper-slider/paper-slider.html">
    <script src="mqtt.min.js"></script>
    <link rel="import" href="im-command.html">
    <link rel="import" href="im-broker.html">
    <link rel="import" href="im-subscribe.html">
    <script>
        window.addEventListener('WebComponentsReady', function () {
            //document.querySelector('#eyeColor').addEventListener('color-changed', fcEyesColor);
            document.querySelector('#faceTrack').addEventListener('change', fcFaceTrack);
        });
        function fcEyesColor() {
            let value = document.querySelector('#eyeColor').color;
            console.log('eyeColor', value.substr(1) + 'ff');
            var payLoad = { origin: 'im-admin', rgba: value.substr(1) + 'ff' }
            client.publish("im/command/eyes/color", JSON.stringify(payLoad));
        }
        function fcFaceTrack() {
            let value = document.querySelector('#faceTrack').value
            console.log('fcFaceTrack', value);
            var payLoad = { origin: 'im-admin', absPosition: value }
            client.publish("im/command/head/facetrackmove", JSON.stringify(payLoad));
        }
    </script>
</head>

<body>
    <div id="container" style="width:400px;display: inline-block;">
        <% if (locals['imbroker']){%>
            <im-broker id="imBroker" status="help" url="ws://<%= locals['imbroker'].address %>:<%= locals['imbroker'].txtRecord.wsport %>"></im-broker>
            <% }else{%>
                <b>NO Broker</b>
                <%} %>
                    <hr/>
                    <im-command topic="helmet" payload="" label="helmet"></im-command>
                    <im-command topic="helmet/open" payload="" label="open"></im-command>
                    <im-command topic="helmet/close" payload="" label="close"></im-command>
                    <im-command topic="helmet/next" payload="" label="&#x021D2;" style="margin-left:0px;padding-left:0px"></im-command>
                    <!--<br/>
                    <im-command topic="eyes/on" payload="" label="eyesOn"></im-command>
                    <im-command topic="eyes/off" payload="" label="eyseOff"></im-command>
                    <paper-swatch-picker id="eyeColor"></paper-swatch-picker>
                    --><br/>
                    <im-command topic="head" payload="" label="head"></im-command>
                    <im-command topic="head/next" payload="" label="&#x021D2;"></im-command>
                    <paper-slider id="faceTrack" min="0" value="50" max="100" pin step="5"></paper-slider>
                    <br/>
                    <!--
                    <im-command topic="energy/off" payload=",&quot;speed&quot;:&quot;20&quot;,  &quot;repeat&quot;:&quot;20&quot;, &quot;rgb&quot;:&quot;2222FF&quot;  "
                        label="ledring off"></im-command>
                    <im-command topic="energy/on" payload=",&quot;speed&quot;:&quot;20&quot;,  &quot;repeat&quot;:&quot;20&quot;, &quot;rgb&quot;:&quot;2222FF&quot;  "
                        label="ledring on"></im-command>
                    <im-command topic="energy/beat" payload=",&quot;speed&quot;:&quot;20&quot;,  &quot;repeat&quot;:&quot;20&quot;, &quot;rgb&quot;:&quot;2222FF&quot;  "
                        label="ledring beat"></im-command>
                    <im-command topic="energy/chase" payload=",&quot;speed&quot;:&quot;20&quot;,  &quot;repeat&quot;:&quot;20&quot;, &quot;rgb&quot;:&quot;2222FF&quot;  "
                        label="ledring chase"></im-command>
                    <br/>-->
                    <im-command topic="rightarm/move" payload="" label="r-arm"></im-command><im-command topic="rightarm/next" payload="" label="&#x021D2;"></im-command>
                    <im-command topic="leftarm/move" payload="" label="l-arm"></im-command><im-command topic="leftarm/next" payload="" label="&#x021D2;"></im-command>
                    <br/>
                    <im-command topic="righthand/move" payload="" label="r-hand"></im-command><im-command topic="righthand/next" payload="" label="&#x021D2;"></im-command>
                    <im-command topic="lefthand/move" payload="" label="l-hand"></im-command><im-command topic="lefthand/next" payload="" label="&#x021D2;"></im-command>
                    <!--<hr/>
                    <im-command topic="im/color" payload=",&quot;rgba&quot;:&quot;0000FFFF&quot;" label="blue"></im-command>
                    <im-command topic="im/color" payload=",&quot;rgba&quot;:&quot;FF0000FF&quot;" label="red"></im-command>
                    <im-command topic="im/color" payload=",&quot;rgba&quot;:&quot;00FF00FF&quot;" label="green"></im-command>
                    <im-command topic="im/color" payload=",&quot;rgba&quot;:&quot;FFFF00FF&quot;" label="yellow"></im-command>
                    <im-command topic="im/color" payload=",&quot;rgba&quot;:&quot;FFA500FF&quot;" label="orange"></im-command>
                    <im-command topic="im/color" payload=",&quot;rgba&quot;:&quot;FFC0CBFF&quot;" label="pink"></im-command>
                    <im-command topic="im/color" payload=",&quot;rgba&quot;:&quot;800080FF&quot;" label="purple"></im-command>
                    <hr/>-->
                    <im-command topic="im/reset" payload="" label="reset"></im-command>
                    <hr/>
                    <b>Command: </b>
                    <dom-bind>
                        <template>
                            <im-subscribe filter="im/command/#" topic="{{commandTopic}}" strpayload="{{commandPayload}}"></im-subscribe>
                            <b>[[commandTopic]]</b>
                            <div style="background-color: #DDDDDD;word-break: break-all;">[[commandPayload]]</div>
                        </template>
                    </dom-bind>
                    <hr/>
                    <b>Clients: </b>
                    <dom-bind>
                        <template>
                            <im-subscribe filter="im/event/rpiheart/status" topic="{{clientTopic}}" payload="{{clientPayload}}"></im-subscribe>
                            <template is="dom-repeat" items="[[clientPayload.brokerClients]]" as="client">
                                <span style="margin-right:10px">[[client]]</span>
                            </template>
                        </template>
                    </dom-bind>
                    <hr/>
                    <b>Usage: </b>
                    <dom-bind id="rpiUsage">
                        <template>
                            <im-subscribe filter="im/event/rpiheart/usage" topic="{{usageTopic}}" payload="{{usagePayload}}"></im-subscribe>
                                Mem:<span style="margin-right:10px">[[usagePayload.memory.percentage]] %</span>
                                Cpu:<span style="margin-right:10px">[[usagePayload.cpuUsage]] %</span>
                                Disk:<span style="margin-right:10px">[[toGo(usagePayload.disk.free)]]/[[toGo(usagePayload.disk.total)]] Go</span>
                        </template>
                        <script>
                            var rpiUsage = document.querySelector('#rpiUsage');
                            // set data property on dom-bind
                            rpiUsage.toMo = function (octet){return Math.round(octet/(1024*1024))};
                            rpiUsage.toGo = function (octet){return Math.round(octet/(1024*1024*1024))};
                          </script>
                    </dom-bind>
                    <hr/>
                    <% if (locals['imweb']){%>
                        <a href="http://<%= locals['imweb'].address %>:<%= locals['imweb'].port %>" target="command">Local web command</a>&nbsp;&nbsp;
                        <% }else{%>
                            <b>NO Local web command</b> &nbsp;&nbsp;
                            <%} %>
                                <% if (locals['impm2gui']){%>
                                    <a href="http://<%= locals['impm2gui'].address %>:<%= locals['impm2gui'].port %>" target="supervisor">Pm2 GUI</a>&nbsp;&nbsp;
                                    <% }else{%>
                                        <b>NO Pm2 GUI</b> &nbsp;&nbsp;
                                        <%} %>
                                            <a href="https://www.dataplicity.com" target="dataplicity">Dataplicity</a>&nbsp;
                                            <a href="https://console.dialogflow.com/api-client/demo/embedded/27e568e7-cb65-43e1-8302-11f6a51157ad" target="dialogflow">Dialogflow</a>&nbsp;
                                            <a href="/halt" target="top">Halt Rpi</a>&nbsp;
                                            <a href="/restart" target="top">Restart All Im</a>
                                            <hr/>
    </div>
    <iframe src="/simulator" width="400px" height="500px" style="display: inline-block;vertical-align:top"></iframe>
    <% if (locals['imweb']){%>
        <iframe src="http://<%= locals['imweb'].address %>:<%= locals['imweb'].port %>" width="400px" height="600px" style="display: inline-block;vertical-align:top"></iframe>
        <% } %>
            <iframe width="400px" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/27e568e7-cb65-43e1-8302-11f6a51157ad"
                style="display: inline-block;vertical-align:top"></iframe>
</body>

</html>